<tr class="active-tr">
      <td>
        <%= form_for([@project, @data_schema_new], :url => project_data_schemas_path(@project)) do |f|  %>
        <%= f.text_field(:name, class: 'form-control', placeholder: t('data_schemas.placeholder_new')) %>
      </td>
      <td>
        <div class="form-group">
          <%= f.select(:data_type, DataSchema.data_types, {}, { class: 'form-control input-sm' })%>
        </div>
      </td>
      <td><%= f.submit(t('buttons.create'), class: 'btn btn-primary') %></td>
    <% end %>
</tr>

