<%= link_to(t('scripts.new'), new_project_script_path )%>
<ol>
<% @scripts.each do |s| %>
 	<li>
	  <%=s.name%>
	  <%=link_to(t('buttons.edit'), edit_project_script_path(@project.id, s.id) )%>
	</li>
<% end%>
</ol>