<tr class="active-tr">
      <td>
        <%= form_for([@project, @data_field_new], :url => project_data_fields_path(@project)) do |f|  %>
        <%= f.text_field(:name, class: 'form-control', placeholder: t('data_fields.placeholder_new')) %>
      </td>
      <td>
        <div class="form-group">
          <%= f.select(:data_type, DataField.data_types, {}, { class: 'form-control input-sm' })%>
        </div>
      </td>
      <td>
        <%= button_tag "",
          type: 'submit',
          class: 'btn btn-default glyphicon glyphicon-floppy-disk btn-lg table-button'
        %>
      </td>
    <% end %>
</tr>

