<div class="container">
  <div class="col-md-4">
    <div class="row">
      <h2>Insert selfie here</h2>
    </div>
    <div class="row">
      <h2>Name</h2>
      TBD
    </div>
    <div class="row">
      <h2>Email</h2>
      <%= @user.email %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
        <h2>Projects</h2>
    </div>
  </div>

  <div class="col-md-2">
    <div class="row">
      <h2>
        <%= link_to t('users.settings'), edit_user_registration_path(@user) if @user == current_user %>
      </h2>
    </div>
  </div>
</div>