<div class="row">
	<div class="col-md-12">
		<div class="container container-flash">
		<%= render 'application/flash' %>
		</div>
	</div>
</div>
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
    <%= yield %>
    </div>
  </div>
</div>
